In [1]:
import pandas as pd

In [3]:
age = pd.read_csv('Dataset_Caffeine_Morality/age.csv')
all_cause = pd.read_csv('Dataset_Caffeine_Morality/all-cause.csv')
cancer = pd.read_csv('Dataset_Caffeine_Morality/Malignant_neoplasms.csv')
cardio = pd.read_csv('Dataset_Caffeine_Morality/Heart_diseases.csv')
alzheimer = pd.read_csv('Dataset_Caffeine_Morality/Alzheimer_disease.csv')
diabetes = pd.read_csv('Dataset_Caffeine_Morality/Diabetes_mellitus.csv')
bmi = pd.read_csv('Dataset_Caffeine_Morality/BMI.csv')
cvd = pd.read_csv('Dataset_Caffeine_Morality/CVD.csv')
kidney = pd.read_csv('Dataset_Caffeine_Morality/Kidney_diseases.csv')

In [4]:
all_cause.head()

,SEQN,Caffeine,Mortstat,Gender,Age,Race,BMI,Income,Marrage,Smoke,...,Diabetes,Asthma,Congestive heart failure,Coronary heart disease,Stroke,Emphysema,Chronic bronchitis,Cancer,Time,ucod_leading
0,5,0,0,1,49,3,29.10,0,1,1,...,2,2,2,2,2,2,2,2,244,0
1,7,2,0,2,59,4,29.39,0,1,1,...,2,2,2,2,2,2,2,2,237,0
2,12,3,0,1,37,3,30.62,0,2,2,...,2,2,2,2,2,2,1,2,236,0
3,13,1,1,1,70,1,25.57,0,1,1,...,1,2,2,2,2,2,2,2,16,1
4,25,4,1,2,42,3,37.60,0,1,1,...,2,1,2,2,2,2,2,2,142,10

In [15]:
all_cause.columns

Index(['SEQN', 'Caffeine', 'Mortstat', 'Gender', 'Age', 'Race', 'BMI',
       'Income', 'Marrage', 'Smoke', 'Alcohol', 'Cotinine', 'Pb', 'Cd',
       'Fiber', 'Fat', 'Energy', 'Protein', 'Carbohydrate',
       'Saturated fatty acids', 'Cholesterol', 'Drug for hypertension',
       'Diabetes', 'Asthma', 'Congestive  heart failure',
       'Coronary heart disease', 'Stroke', 'Emphysema', 'Chronic bronchitis',
       'Cancer', 'Time', 'ucod_leading'],
      dtype='object')

In [5]:
age.head()

,SEQN,Caffeine,Mortstat,Gender,Age,Race,BMI,Income,Marrage,Smoke,...,Diabetes,Asthma,Congestive heart failure,Coronary heart disease,Stroke,Emphysema,Chronic bronchitis,Cancer,Time,ucod_leading
0,5,0,0,1,2,3,29.10,0,1,1,...,2,2,2,2,2,2,2,2,244,0
1,7,2,0,2,2,4,29.39,0,1,1,...,2,2,2,2,2,2,2,2,237,0
2,12,3,0,1,1,3,30.62,0,2,2,...,2,2,2,2,2,2,1,2,236,0
3,13,1,1,1,3,1,25.57,0,1,1,...,1,2,2,2,2,2,2,2,16,1
4,25,4,1,2,2,3,37.60,0,1,1,...,2,1,2,2,2,2,2,2,142,10

In [6]:
cancer.head()

,SEQN,Caffeine,Mortstat,Gender,Age,Race,BMI,Income,Marrage,Smoke,...,Diabetes,Asthma,Congestive heart failure,Coronary heart disease,Stroke,Emphysema,Chronic bronchitis,Cancer,Time,ucod_leading
0,5,0,0,1,49,3,29.10,0,1,1,...,2,2,2,2,2,2,2,2,244,0
1,7,2,0,2,59,4,29.39,0,1,1,...,2,2,2,2,2,2,2,2,237,0
2,12,3,0,1,37,3,30.62,0,2,2,...,2,2,2,2,2,2,1,2,236,0
3,57,2,0,1,39,3,29.74,0,1,2,...,2,2,2,2,2,2,2,2,242,0
4,80,1,1,2,75,4,36.81,0,2,1,...,2,2,2,2,2,2,2,1,172,1

In [7]:
cardio.head()

,SEQN,Caffeine,Mortstat,Gender,Age,Race,BMI,Income,Marrage,Smoke,...,Diabetes,Asthma,Congestive heart failure,Coronary heart disease,Stroke,Emphysema,Chronic bronchitis,Cancer,Time,ucod_leading
0,5,0,0,1,49,3,29.10,0,1,1,...,2,2,2,2,2,2,2,2,244,0
1,7,2,0,2,59,4,29.39,0,1,1,...,2,2,2,2,2,2,2,2,237,0
2,12,3,0,1,37,3,30.62,0,2,2,...,2,2,2,2,2,2,1,2,236,0
3,13,1,1,1,70,1,25.57,0,1,1,...,1,2,2,2,2,2,2,2,16,1
4,40,0,1,2,68,1,30.23,0,2,2,...,1,2,2,2,2,2,2,2,118,1

In [8]:
alzheimer.head()

,SEQN,Caffeine,Mortstat,Gender,Age,Race,BMI,Income,Marrage,Smoke,...,Diabetes,Asthma,Congestive heart failure,Coronary heart disease,Stroke,Emphysema,Chronic bronchitis,Cancer,Time,ucod_leading
0,5,0,0,1,49,3,29.10,0,1,1,...,2,2,2,2,2,2,2,2,244,0
1,7,2,0,2,59,4,29.39,0,1,1,...,2,2,2,2,2,2,2,2,237,0
2,12,3,0,1,37,3,30.62,0,2,2,...,2,2,2,2,2,2,1,2,236,0
3,57,2,0,1,39,3,29.74,0,1,2,...,2,2,2,2,2,2,2,2,242,0
4,93,1,0,2,63,5,22.85,0,1,2,...,2,2,2,2,2,2,2,2,243,0

In [9]:
diabetes.head()

,SEQN,Caffeine,Mortstat,Gender,Age,Race,BMI,Income,Marrage,Smoke,...,Diabetes,Asthma,Congestive heart failure,Coronary heart disease,Stroke,Emphysema,Chronic bronchitis,Cancer,Time,ucod_leading
0,5,0,0,1,49,3,29.10,0,1,1,...,2,2,2,2,2,2,2,2,244,0
1,7,2,0,2,59,4,29.39,0,1,1,...,2,2,2,2,2,2,2,2,237,0
2,12,3,0,1,37,3,30.62,0,2,2,...,2,2,2,2,2,2,1,2,236,0
3,57,2,0,1,39,3,29.74,0,1,2,...,2,2,2,2,2,2,2,2,242,0
4,93,1,0,2,63,5,22.85,0,1,2,...,2,2,2,2,2,2,2,2,243,0

In [10]:
bmi.head()

,SEQN,Caffeine,Mortstat,Gender,Age,Race,BMI,Income,Marrage,Smoke,...,Diabetes,Asthma,Congestive heart failure,Coronary heart disease,Stroke,Emphysema,Chronic bronchitis,Cancer,Time,ucod_leading
0,5,0,0,1,49,3,3,0,1,1,...,2,2,2,2,2,2,2,2,244,0
1,7,2,0,2,59,4,3,0,1,1,...,2,2,2,2,2,2,2,2,237,0
2,12,3,0,1,37,3,4,0,2,2,...,2,2,2,2,2,2,1,2,236,0
3,13,1,1,1,70,1,3,0,1,1,...,1,2,2,2,2,2,2,2,16,1
4,25,4,1,2,42,3,4,0,1,1,...,2,1,2,2,2,2,2,2,142,10

In [11]:
cvd.head()

,SEQN,Caffeine,Mortstat,Gender,Age,Race,BMI,Income,Marrage,Smoke,...,Diabetes,Asthma,Congestive heart failure,Coronary heart disease,Stroke,Emphysema,Chronic bronchitis,Cancer,Time,ucod_leading
0,5,0,0,1,49,3,29.10,0,1,1,...,2,2,2,2,2,2,2,2,244,0
1,7,2,0,2,59,4,29.39,0,1,1,...,2,2,2,2,2,2,2,2,237,0
2,12,3,0,1,37,3,30.62,0,2,2,...,2,2,2,2,2,2,1,2,236,0
3,57,2,0,1,39,3,29.74,0,1,2,...,2,2,2,2,2,2,2,2,242,0
4,93,1,0,2,63,5,22.85,0,1,2,...,2,2,2,2,2,2,2,2,243,0

In [12]:
kidney.head()

,SEQN,Caffeine,Mortstat,Gender,Age,Race,BMI,Income,Marrage,Smoke,...,Diabetes,Asthma,Congestive heart failure,Coronary heart disease,Stroke,Emphysema,Chronic bronchitis,Cancer,Time,ucod_leading
0,5,0,0,1,49,3,29.10,0,1,1,...,2,2,2,2,2,2,2,2,244,0
1,7,2,0,2,59,4,29.39,0,1,1,...,2,2,2,2,2,2,2,2,237,0
2,12,3,0,1,37,3,30.62,0,2,2,...,2,2,2,2,2,2,1,2,236,0
3,57,2,0,1,39,3,29.74,0,1,2,...,2,2,2,2,2,2,2,2,242,0
4,93,1,0,2,63,5,22.85,0,1,2,...,2,2,2,2,2,2,2,2,243,0